.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 15px;
  padding: 2rem;
  width: 70%;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  text-align: center;
  color: #800000;
  margin-bottom: 1.5rem;
}

.close-icon,
.close-btn {
  position: absolute;
  left: 82.1%;
  font-size: 2rem;
  color: #800000;
  z-index: 9;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.close-icon {
  top: 8.5rem;
}

.close-btn {
  top: 10.7rem;
}

.close-icon:hover,
.close-btn:hover{
  background: #cccccc;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  border-radius: 0.2rem;
  color: #800000
}

.form-group input,
.form-group select{
  padding: 0.5rem;
  border: 1px solid #800000;
  border-radius: 0.3rem;
}

.form-group select{
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 0; 
  background: url('data:image/svg+xml;utf8,<svg fill="%23800000" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 1rem center;
  background-size: 1.5rem;
}


.cancel-btn,
.submit-btn{
  margin-top: 1rem;
  padding: 0.75rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.cancel-btn{
  background: #333333;
}

.submit-btn{
  background: #a52a2a;
}

.submit-btn:hover{
  background: #800000;
}

.cancel-btn:hover{
  background: #231815;
}

.cancel-btn:hover,
.submit-btn:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}