.stat-card {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  height: 125px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.4);
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: scale(1.01);
}

.stat-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.stat-icon {
  font-size: 2rem;
  color: #800000;
}

.stat-info{
  padding: 0 1rem;

}

.stat-info h4 {
  font-size: 1.2rem;
  color: #333;
}

.stat-info p {
  font-size: 1.5rem;
  font-weight: bold;
}