/* src/components/Table/Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.pagination button {
  padding: 6px 10px;
  border: 2px solid #333333;
  background: #CCCCCC;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  min-width: 32px;
  transition: background 0.2s ease;
}

.pagination button.active {
  background-color: #800000;
  color: #FFFFFF;
  border-color: #800000;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrow-icon{
  font-size: 1rem;
}